body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

.sticky-top {
  background-color: #FF6F61!important;
  color: white;
}

.header {
  background-color: #FF6F61;
  height: 100vh;
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-weight: 500;
}

h1 {
  letter-spacing: 2px;
}

.nav-link {
  color: white!important;
}

.nav-link:hover {
  color: white!important;
}

.header-text {
  padding: 10%;
}

.btn-primary {
  margin: 20px 0;
  border-color: white!important;
  background-color: #FF6F61!important;
  border-radius: 0px!important;
}

.btn-primary:hover {
  background-color: white!important;
  color: #FF6F61;
  font-weight: 400;
}

.arrow {
  position: absolute;
  bottom: 0;
  width: 100vw;
}

.arrow-projects {
  position: absolute;
  bottom: 0;
  width: 100vw;
}

.fa-arrow-down {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
  /*text-align: center;*/
  font-size: 4vh;
}

.section {
  background-color: #FF6F61;
  height: 100vh;
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-weight: 500;
}

.about-section {
  padding: 10%;
}

.react {
  margin-top: 10px;
}

p {
  letter-spacing: 1px;
}

a {
  letter-spacing: 2px;
  color: white;
  text-decoration: none!important;
}

a:hover {
  font-weight: 800;
  text-decoration: none!important;
  color: white;
}

.project-images {
  position: relative;
  border-radius: 5px;
  margin: 3%;
  color: grey;
  box-shadow: 0px 0px 10px #CDCDCD;
  margin: 20px;
}

.project-images img {
  height: 200px;
  border-radius: 5px;
  transition: 1s;
}

.title {
  color: white;
  padding: 10% 0 0 10%;
}

.projects {
  width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  pointer-events: none;
}

.my-work {
  padding: 10%;
}

@media (min-width: 992px) {
    .project-images {
     height: 200px;
     width: 350px;
  }
}

@media (min-width: 1150px) {
  .project-images {
    margin: 1.5%;
  }

  .project-images img {
     height: 200px;
  }

}

@media (min-width: 1500px) {
  .project-images img {
     height: 250px;
  }

}

