.footer {
  position: absolute;
  left: 0;
  width: 100vw;
  height: 8vh;
  color: #eb740f;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 3vh;
  background-color: #e4c8ec;
}

.contact-icons {
  text-decoration: none;
  padding: 20px;
  color: #eb740f;
}

.contact-icons:hover {
  text-decoration: none;
  color: #eb740f;
  opacity: 0.6;
}
