body {
  background-color: #ffffff;
  width: 100vw !important;
}

.landing {
  background-color: #e4c8ec;
  height: 100vh;
  width:100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  margin: 0;
}

h1 {
  margin: 0;
  font-size: 8vh;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-style: italic;
  color: #eb740f;
}

h2 {
  margin: 0;
  font-size: 3vh;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #eb740f;
}

.arrow {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 8vh;
  color: #eb740f;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 4vh;
}

.down-arrow {
  text-decoration: none;
  padding: 20px;
  color: #eb740f;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  padding-bottom: 20px;
}






/*.landing {
  height: 100vh;
  margin: 0;
  background: #FFFFFF;
}

.landing:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -300px;
  width: 800px;
  background: #e4c8ec;
  transform: skew(-30deg);
}

.landing-contents {
  color: #eb740f;
}*/
