body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
}

.btn-primary {
  color: #000!important;
  background-color: #FFEF00!important;
  border-color: #FFEF00!important;
  text-decoration: none!important;
  cursor: pointer!important;
}

.btn {
  padding: .5rem 2rem;
  border-radius: 3rem;
}


h1 {
  margin: 0;
  font-size: 8vh;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  letter-spacing: 6px;
}

h2 {
  margin: 0;
  font-size: 3vh;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

h3 {
  font-size: 2.5vh;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

p {
  font-size: 2vh;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.contact-icons {
  display: flex;
  justify-content: center;
  background-color: #333;
}

.contact-icons a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
}

.contact-icons a:hover {
  background-color: #ddd;
  color: black;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 33.33%;
}

.barly {
  float: left;
  width: 10%;
}

.side {
  flex: 20%;
  background-color: #f1f1f1;
  padding: 20px;
}

.main {
  flex: 70%;
  background-color: #white;
  padding: 20px;
}

img {
  box-shadow: 0px 0px 10px #CDCDCD;
  border-radius: 5px;
}

.swipe {
  padding: 20px;
}

.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}

/*[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {*/
/*   For desktop:
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}*/

@media (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}



